<section class="h-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="text-3xl text-center">
          <h1>Editando treino</h1>

          <%= render "form", treino: @treino %>

            <%= link_to "Mostrar esse treino", @treino, class: "text-decoration-none" %> |
            <%= link_to "Voltar para treinos", treinos_path, class: "text-decoration-none" %>

          <%= render partial: '/logado' %>
        </div>
      </div>
    </div>
  </div>
</section>