<div  class="text-3xl text-center">
  <%= render @treino %>

  <div>
    <%= link_to "Edit this treino", edit_treino_path(@treino) %> |
    <%= link_to "Back to treinos", treinos_path %>

    <%= button_to "Destroy this treino", @treino, method: :delete %>
  </div>

</div>
