<h1>Editing treinos pronto</h1>

<%= render "form", treinos_pronto: @treinos_pronto %>

<br>

<div>
  <%= link_to "Show this treinos pronto", @treinos_pronto %> |
  <%= link_to "Back to treinos prontos", treinos_prontos_path %>
</div>
