<section class="vh-100" style="background-color: #1e1e1e;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="text-3xl text-center">

          <%= render @treino_pronto %>

        </div>
      </div>
    </div>
  </div>
</section>