<p>Hello <%= @resource.email %>!</p>

<p>Alguem solicitou um link para trocar sua senha. Você pode fazer isso através do link a seguir.</p>

<p><%= link_to 'Trocar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor ignore esse email.</p>
<p>Sua senha não vai mudar até que você acesse o link acima e crie uma nova senha.</p>
