<div id="logado">
  <% if user_signed_in? %>
    Logado como <strong><%= current_user.email %></strong>.
    <%= link_to  destroy_user_session_path, 'data-turbo-method': :delete do %>
    <i class="fa-solid fa-right-from-bracket" style="color: #000000;"></i>
    <% end %>
  <% else %>
    <%= link_to "Cadastrar", new_user_registration_path, :class => 'text-decoration-none link-dark'  %> |
    <%= link_to "Entrar", new_user_session_path, :class => 'text-decoration-none link-dark'  %>
  <% end %>
</div>
